.photo-image img{
    width: 100%;
    height: 400px;
}
/*move nav over*/
nav ul li {
    display: inline;
    list-style: none;
    padding: 10%;
  }

nav ul li a {
    text-decoration: none;
}

.about-header h2{
    text-align: center;
}

.portfolio-header {
    display: block;
}

.portfolio-header h2 {
    text-align: center;
}
/*center image/wording*/
#work img {
    display: inline;
}

#work {
   display: inline;
}

.contact-header h2 {
    text-align: center;
}
/*move icons over*/
.contact-header p {
    display: inline;
    padding: 6%;
}

#contact {
    text-align: center;
}
.center p{
    text-align: center;
    padding: 8%;
}

footer {
    padding: 5%;
    text-align: center;
}

